# config/services.yaml
services:
    # Configuration par défaut
    _defaults:
        autowire: true      # Injecte automatiquement les dépendances
        autoconfigure: true # Enregistre automatiquement vos services comme commandes, etc.

    # 1. On charge toutes les classes de src/
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # 2. Configuration spécifique pour NOTRE service
    # On injecte la clé définie dans .env.local directement dans l'argument du constructeur
    App\Service\FootballApiService:
        arguments:
            # Le nom '$rapidApiKey' DOIT être identique au nom de la variable 
            # dans le __construct de FootballApiService.php
            $rapidApiKey: '%env(FOOTBALL_API_KEY)%'