# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

parameters:
    # API Football
    apifootball.base_url: '%env(APIFOOTBALL_BASE_URL)%'
    apifootball.key: '%env(APIFOOTBALL_KEY)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    # Tous les services du dossier src/
    App\:
        resource: '../src/'

    # --- Service API Football ---
    App\Service\ApiFootballClient:
        arguments:
            $baseUrl: '%apifootball.base_url%'
            $apiKey: '%apifootball.key%'
